# dotenv
python-dotenv>=1.1.1

# python 3.13.0
aiogram>=3.20.0
twisted>=24.7.0
autobahn>=24.4.2
zope.interface>=7.1.1
setuptools>=75.2.0
pyOpenSSL>=24.2.1
service_identity>=24.2.0

# crypto related
base58>=2.1.1
bech32>=1.2.0
pycryptodome>=3.22.0

# for testing
websockets>=13.1.0

# database
sqlalchemy>=2.0.41
greenlet>=3.2.2


requests>=2.32.3

# GenAI
google_cloud_aiplatform>=1.96.0
google-genai>=1.19.0

# markdown
markdown>=3.8
beautifulsoup4>=4.13.4
lxml>=5.4.0

# API
fastapi>=0.115.13
uvicorn>=0.34.3
